---
layout: default
---
<div id="main">

  <section>
      <header class="major">
          <h2><a href="/writings">蚂蚁技术课堂</a></h2>
      </header>

      {% for post in site.posts limit:1 %}
          <header>
              <h2><a href="{{ post.url }}"> {{ post.title }}</a></h2>
              <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
          </header>

          <section>
              {{ post.excerpt }}
              <a href="{{ post.url }}">Read more...</a>
          </section>
      {% endfor %}
  </section>

  <section>
      <div class="row">

          {% for post in site.posts offset:1 limit:3 %}

              <article class="12u 12u(small)">
                  <header>
                      <h4>
                        <div class="date">{{ post.date | date: "%b %-d, %Y" }} </div>
                        <a href="{{ post.url }}"> {{ post.title }}</a>
                      </h4>
                  </header>
              </article>

          {% endfor %}
      </div>
  </section>

  <section>
      <header class="major">
          <h2>Java/Scala/Go微服务入门课堂</h2>
      </header>

      <div class="row">
          <article class="12u 12u(small)">
              <h2 class="major">了解微服务技术架构，落地开发现实项目</h2>
              <ul>
                  <li>Learning How to Learn</li>
              </ul>
          </article>
          <article class="12u 12u(small)">
              <h2 class="major">前言: 微服务架构基础</h2>
              <ul class="toggler">
                  <li><a href="#">第一课：什么是微服务，微服务架构又是什么？</a></li>
                  <li><a href="#">第二课：微服务架构的基本特征？</a></li>
                  <li><a href="#">第三课：谁都在实施微服务，他们的架构，技术栈？</a></li>
                  <li><a href="#">第四课：Spring、Scala、Go的微服务选择？</a></li>
              </ul>
          </article>
      </div>
  </section>
</div>
