// Remove shadow under navbar
.navbar {
  box-shadow: none;
}

// Full width Portfolio filter toolbar
.btn-toolbar .btn-group {
  flex: 1;
}

// Custom section spacing
.home-section {
  padding: 1.5rem 0;
}

.section-heading {
  margin-bottom: 3rem !important;
}

// Center CTA button
.cta-group {
  justify-content: center;
}


//  Custom post container
@media only screen and (min-width: 1001px) {
  .universal-wrapper{
	max-width: 1290px;
	width: 1290px;
	margin: 0 auto 0 auto;
  }
  .article-container{
      max-width: 1290px;
      padding: 0 20px 0 20px;
      margin: 0 auto 0 auto;
  }
}


